body{
    background: #1e202b;
    font-family: "Roboto", "Open Sans", sans-serif;
}

.btn-def{
    border-radius: 35px !important;
    padding: 0px 25px !important;

    background-color: transparent;
    font-size: 14px;
    margin-left: 10px;

/*     
    padding: 5px 25px !important;
    border: 2px solid transparent !important;
    border-radius: 30px !important;
    color: white !important;

    
  
    transition: 0.3s ease !important;
    font-weight: 400 !important ;

    text-decoration: none !important; */

 
    border-color: transparent !important;
    font-family: "Roboto", "Open Sans", sans-serif;
    /* font-size: 14px !important;
    font-weight: 300;
    line-height: 1.5 !important; */
}

.btn-def:hover{
    border-color: #009ad8 !important;
    color: #009ad8 !important;

}

.btn-def:hover a{
    color: #009ad8 !important;


}


.def{
    border-color: #009ad8 !important;
    color: #009ad8 !important;

}
.def a{
    color: #009ad8 !important;
    
}




.bg-imgg{
    background-image: url(../img/banner.png) !important;
   
background-repeat: no-repeat;
    /* background-size: cover; */
    min-height: 350px;
    padding: 70px 0px;
}

.search-inp{
    background-color: #1e202b;
    
    margin: auto !important;
    border-radius: 30px !important;
    border-color: transparent !important;
    padding: 18px 20px;
    font-size: 14px;

}